.fa {
  font-size: 1.3rem;
  color: grey;
  cursor: pointer;
}

.fa-archive {
  vertical-align: baseline;
  font-size: 1.2rem;
}

.fa-envelope-open {
  font-size: 1.2rem;
  vertical-align: top;
}

.fa:hover {
  background-color: #8080804d;
  border-radius: 1.6rem;
}
