table {
  width: calc(100vw - 400px);
}

td {
  padding-right: 10px !important;
}

.select-col {
  width: 20px;
}

.description-container {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 300px;
  width: inherit;
}

.actionEnable-col {
  justify-content: end;
}

.timeWidthClass {
  width: calc(100vw - 700px) !important;
}

.actionWidthClass {
  width: calc(100vw - 800px) !important;
}

.enable {
  display: table-cell;
  justify-content: end;
}

.disable {
  display: none;
}

.recieveTime-col {
  justify-content: end;
}

mail-action {
  width: 9rem;
  display: block;
}
