table {
  width: calc(100vw - 400px);
}

td {
  padding-right: 10px !important;
}

.select-col {
  width: 20px;
}

.description-container {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 300px;
  width: calc(100vw - 700px) !important;
}

.actionEnable-col {
  justify-content: end;
}

.enable {
  display: -moz-flex;
  display: -webkit-flex;
  justify-content: flex-end;
}

.disable {
  display: none;
}

.recieveTime-col {
  justify-content: end;
}

.fa-star-o {
  font-size: 1.6rem;
  padding: 0.5rem;
  vertical-align: text-bottom;

  &:hover {
    background-color: #8080804d;
    border-radius: 2rem;
  }
}

.material-icons {
  vertical-align: text-bottom;
  font-size: 2.1rem;
  padding: .4rem;

  &:hover {
    background-color: #8080804d;
    border-radius: 2rem;
  }
}
