<div class="list-items">
  <div class="d-block">
    <div class="d-inline-block pr-4">
      <i class="fa fa-inbox" aria-hidden="true"></i>
    </div>
    <div class="d-inline-block">
      Inbox
    </div>
  </div>
  <div class="d-block">
    <div class="d-inline-block pr-4">
      <i class="fa fa-star" aria-hidden="true"></i>
    </div>
    <div class="d-inline-block">
      Starred
    </div>
  </div>
  <div class="d-block">
    <div class="d-inline-block pr-4">
      <i class="fa fa-clock-o" aria-hidden="true"></i>
    </div>
    <div class="d-inline-block">
      Snoozed
    </div>
  </div>
  <div class="d-block">
    <div class="d-inline-block pr-4">
      <i class="fa fa-bookmark" aria-hidden="true"></i>
    </div>
    <div class="d-inline-block">
      Important
    </div>
  </div>
  <div class="d-block">
    <div class="d-inline-block pr-4">
      <i class="fa fa-paper-plane" aria-hidden="true"></i>
    </div>
    <div class="d-inline-block">
      Send
    </div>
  </div>

  <div class="d-block">
    <div class="d-inline-block pr-4">
      <i class="fa fa-file" aria-hidden="true"></i>
    </div>
    <div class="d-inline-block">
      Draft
    </div>
  </div>

  <!---->
  <div class="d-block">
    <div class="d-inline-block pr-3 material-icons-class">
      <i class="material-icons"> label</i>
    </div>
    <div class="d-inline-block">
      Categories
    </div>
  </div>
  <!---->
  <div class="d-block">
    <div class="d-inline-block pr-3 material-icons-class">
      <i class="material-icons"> label</i>
    </div>
    <div class="d-inline-block">
      Junk
    </div>
  </div>
  <!---->
  <div class="d-block">
    <div class="d-inline-block pr-3 material-icons-class">
      <i class="material-icons"> label</i>
    </div>
    <div class="d-inline-block">
      Travel
    </div>
  </div>
  <!---->
  <div class="d-block">
    <div class="d-inline-block pr-3 material-icons-class">
      <i class="material-icons"> label</i>
    </div>
    <div class="d-inline-block">
      Unwanted
    </div>
  </div>
  <!---->
  <div class="d-block">
    <div class="d-inline-block pr-3 material-icons-class">
      <i class="material-icons"> label</i>
    </div>
    <div class="d-inline-block">
      More
    </div>
  </div>